@import "catppuccin-frappe.css";

* {
  font-family: MonaspiceRn NF;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  transition: none;
  font-weight: bold;
}

window#waybar {
  background-color: @base;
  color: @text;
  border-radius: 0px;
  margin: 4px;
}

/* Tags styling with focus and occupied indicators */
#tags {
  margin-left: 10px;
  padding: 3px 6px;
  background-color: @surface0;
  border-radius: 12px;
  margin: 5px;
}

#tags button {
  border: none;
  min-width: 22px;
  min-height: 22px;
  padding: 0px 5px;
  margin: 2px;
  background-color: transparent;
  color: @overlay0;
}

/* Active tag styling */
#tags button.focused {
  background-color: @rosewater;
  border-radius: 12px;
}

/* Occupied tag styling */
#tags button.occupied {
  color: @mauve;
}

#tags button.urgent {
  color: @red;
}

#window {
  color: @text;
  padding: 0px 10px;
  margin: 5px;
  background-color: @surface0;
  border-radius: 12px;
}

/* Center clock module */
#clock {
  color: @base;
  padding: 0px 15px;
  margin: 5px;
  background-color: @blue;
  border-radius: 12px;
}

/* Metrics styling */
#custom-pacman,
#cpu,
#memory,
#temperature,
#battery,
#custom-governor,
#network,
#custom-latency,
#disk,
#pulseaudio {
  background-color: @surface0;
  padding: 0px 5px;
}

/* First module in metrics */
#custom-pacman {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: 5px 0px 5px 5px;
  padding-left: 10px;
}

/* Last module in metrics */
#pulseaudio {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 5px 5px 5px 0px;
  padding-right: 10px;
}

/* Middle modules in metrics */
#cpu, #memory, #temperature, #battery, #custom-governor, #custom-latency, #network, #disk {
  margin: 5px 0px;
}

/* Color the text for each module */
#custom-pacman { color: @lavender; }
#cpu { color: @green; }
#memory { color: @yellow; }
#temperature { color: @teal; }
#battery { color: @mauve; }
#custom-governor { color: @mauve; }
#network, #custom-latency { color: @red; }
#disk { color: @peach; }
#pulseaudio { color: @text; }
